@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Overall chat container - Side by side layout */
.chat-container {
    display: flex;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
  }
  
  /* Left Side - Input Section */
  .chat-left {
    width: 30%;
    border-right: 1px solid gray;
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    padding: 20px;
    color: white;
  }
  
  .chat-left h2 {
    margin-bottom: 20px;
  }
  
  /* Input and button styling */
  .message-input {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .message-input input {
    width: 94%;
    padding: 10px;
    /* border: none; */
    border: 1px solid gray;
    font-size: 16px;
    margin-bottom: 10px;
    outline: none;
  }
  
  .message-input button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #1a73e8;
    color: white;
    font-size: 16px;
    cursor: pointer;
  }
  
  .message-input button:hover {
    background-color:  #1557b0;
  }
  
  /* Right Side - Messages Section */
  .chat-right {
    width: 70%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow-y: auto;
  }
  
  /* Header for chat */
  .chat-header {
    background-color: #1a73e8;
    color: white;
    padding: 1px;
    font-size: 1.2rem;
    font-weight: 500;
  }
  
  .back-button {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    margin-right: 10px;
    cursor: pointer;
  }
  
  /* Messages */
  .messages {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 5px;
  }
  
  /* Message styling */
  .message {
    max-width: 70%;
    padding: 5px;
    margin: 8px 0;
    border-radius: 10px;
    font-size: 12px;
    word-wrap: break-word;
  }
  
  /* Sent messages (right side, green) */
  .sent {
    align-self: flex-end;
    background-color: #25d366;
    color: white;
    text-align: right;
  }
  
  /* Received messages (left side, grey) */
  .received {
    align-self: flex-start;
    background-color: #3d4347;
    color: white;
  }
  
  /* Sender Name */
  .sender {
    font-size: 10px;
    font-weight: bold;
    margin-bottom: 2px;
  }


  .chat-header {
    display: flex;
    align-items: center;
    padding: 10px;
    /* background-color: #333; */
  }
  
  .back-button {
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
    margin-right: 10px;
  }
  
  
